{style src="addons/my_design/styles.less"}
{style src="addons/my_design/reset.css"}

<html>
<head>
<meta charset="utf-8"/>
<meta name="description" content=""/>
<meta name="Keywords" content=""/>
<link href="styles.less" type="text/css" rel="stylesheet"/>
</head>
<body>
	<div id="headerMain">

		<div id="header">

		</div>
	</div>

	<div class="content1">
		<p> <center> Специальное предложение для предпринимателей из
	</p>
</div>
</body>
</html>
